/assignment
/14-7/node_modules
/15-7/node_modules
/23-7/node_modules
/23-7-version2/node_modules
/temp
/28-7/node_modules
/28-7-prisma/node_modules
/29-7/node_modules
/29-7/expressgenerator/node_modules
/30-7/node_modules
/31-7/node_modules